<tr>
    <td>
        <%= comicBook.title %>
    </td>
    <td>
      <input type="button" name="edit" value="EDIT">
    </td>
    <td>
      <input type="button" name="delete" value="DELETE">
    </td>
  </tr>