<!-- THIS IS FOR THE ADMIN-CONSOLE LANDING PAGE LISTINGS-->


<tr>
    <td>
        <%= comicBook.title %>
    </td>
    <td>
      <a href="/admin-console/update-book/<%= comicBook._id %>">
        <button class="yellowbutton">EDIT</button>
      </a>
    </td>
    <td>
      <form action="/books/<%= comicBook._id %>?_method=delete" method="POST">
        <input type="submit" name="delete" value="DELETE">
      </form>
      
    </td>
  </tr>