  <!-- Footer Begin -->

  <div class="footer">

    <div class="visit-us">
      <h3>VISIT US</h3>
      <p>
      CodeSquad Comics<br />
      123 Dorchester Avenue<br />
      Boston MA 02124
    </p>
    </div>

    <div class="links">
      <h3>LINKS</h3>
      <a href="index.html" class="footlink">Home</a><br />
      <a href="about.html" class="footlink">About</a><br />
      <a href="login.html" class="footlink">Login</a><br />
    </div>

    <div class="follow-us">
      <h3>FOLLOW US<h3>
      <div class="socials" style="font-size: 0.5rem;">
        <a href="https://www.facebook.com/CodeSquadOrg" target="_blank" rel="noopener noreferrer" class="footlink">
          <i class="fab fa-facebook fa-lg"></i>
         
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="footlink">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://twitter.com/home" target="_blank" rel="noopener noreferrer" class="footlink">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>

    </div>
    
    <div class="a-product-of">
      <h3>A PRODUCT OF</h3>
      <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer">
        <img src="/public/images/CodeSquad-logo-b.png" alt="CodeSquad Logo" id="codesquad-logo">
        </a>
    </div>

</div>

<!-- Footer End -->

</body>
</html>
