
<div class="header">


  <a href="index.html">
    <img src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics Logo" id="codesquad-comics-logo">
  </a>


    <a href="javascript:void(0);" id="hamburger">
      <i class="fas fa-bars fa-2x"></i>
    </a>


  <nav class=link-menu>
    <a href="/" class="headlink">HOME</a>
    <a href="/about" class="headlink">ABOUT </a>
    <a href="/login" class="headlink">LOGIN </a>
    <a href="/register" class="headlink">REGISTER</a>
  </nav>
  
    
  </div>