

<figure>


    <a href="#">
      <img src="/images/<%= comicBook.image %>" alt="Fun Home" class="comic-cover">
    </a>

    <figcaption><em><%= comicBook.title %></em><br />
    by <%= comicBook.author %><br />
    <%= comicBook.rating %> <br>

    <a href="#">Details</a>
  </figcaption>

  </figure>

  <!-- 
    comicCoverImg
    comicTitle
    comicAuthor
    comicRating
    details?
   -->

   <!-- How to do EJS for details links with an ID -->