<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeSquad Comics - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />


    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <script src="scripts.js" defer></script>


  </head>
  <body>

<!--Header Begin-->


<div class="header">


  <a href="index.html">
    <img src="/public/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics Logo" id="codesquad-comics-logo">
  </a>

  <a href="javascript:void(0);" id="hamburger">
    <i class="fas fa-bars fa-2x"></i>
</a>

  <nav class=link-menu>
    <a href="index.html" class="headlink">HOME</a>
    <a href="about.html" class="headlink">ABOUT </a>
    <a href="login.html" class="headlink">LOGIN </a>
  </nav>

  
</div>

<!-- Header End -->

<div class=content-box>

  <h1>ADMIN PAGE</h1>

  <input type="button" class="yellowbutton" name="add-new-comic" value="ADD NEW COMIC">
  <br /><br />

  <table class="admin-table">
    <thead>
      <tr>
        <th>COMIC TITLE</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
        <tr>
          <td>
            Batman: The Dark Knight Returns
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            Black Panther: A Nation Under Our Feet Book 1
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            Fun Home: A Family Tragicomic
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            Hunter X Hunter Vol. 1
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            Lumberjanes Vol. 1
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            March: Book One
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr>

        <tr>
          <td>
            One Piece, Vol. 1: Romance Dawn
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>

          <tr>
            <td>
              Parable of the Sower
            </td>
            <td>
              <input type="button" name="edit" value="EDIT">
            </td>
            <td>
              <input type="button" name="delete" value="DELETE">
            </td>
          </tr>

          <tr>
            <td>
              Queer: A Graphic History
            </td>
            <td>
              <input type="button" name="edit" value="EDIT">
            </td>
            <td>
              <input type="button" name="delete" value="DELETE">
            </td>
          </tr>

          <tr>
            <td>
              The Walking Dead, Vol. 1 Days Gone Bye
            </td>
            <td>
              <input type="button" name="edit" value="EDIT">
            </td>
            <td>
              <input type="button" name="delete" value="DELETE">
            </td>
          </tr>

          <tr>
            <td>
              Wake: The Hidden History of Women-Led Slave Revolts
            </td>
            <td>
              <input type="button" name="edit" value="EDIT">
            </td>
            <td>
              <input type="button" name="delete" value="DELETE">
            </td>
          </tr>

          <tr>
            <td>
              Watchmen
            </td>
            <td>
              <input type="button" name="edit" value="EDIT">
            </td>
            <td>
              <input type="button" name="delete" value="DELETE">
            </td>
          </tr>

      </table>

</div>

<!-- Footer Begin -->

<div class="footer">

  <div class="visit-us">
    <h3>VISIT US</h3>
    <p>
    CodeSquad Comics<br />
    123 Dorchester Avenue<br />
    Boston MA 02124
  </p>
  </div>

  <div class="links">
    <h3>LINKS</h3>
    <a href="index.html" class="footlink">Home</a><br />
    <a href="about.html" class="footlink">About</a><br />
    <a href="login.html" class="footlink">Login</a><br />
  </div>

  <div class="follow-us">
    <h3>FOLLOW US<h3>
    <div class="socials" style="font-size: 0.5rem;">
      <a href="https://www.facebook.com/CodeSquadOrg" target="_blank" rel="noopener noreferrer" class="footlink">
        <i class="fab fa-facebook fa-lg"></i>
       
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="footlink">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a href="https://twitter.com/home" target="_blank" rel="noopener noreferrer" class="footlink">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
    </div>

  </div>
  
  <div class="a-product-of">
    <h3>A PRODUCT OF</h3>
    <a href="http://codesquad.org/" target="_blank" rel="noopener noreferrer">
      <img src="/public/images/CodeSquad-logo-b.png" alt="CodeSquad Logo" id="codesquad-logo">
      </a>
  </div>

</div>

<!-- Footer End -->


  </body>
</html>
