<%- include('../partials/head') -%> 


<%- include('../partials/nav') -%> 


<!-- update create button to ./admin-console/create-book -->

<div class=content-box>

  <h1>ADMIN PAGE</h1>

  <input type="button" class="yellowbutton" name="add-new-comic" value="ADD NEW COMIC">
  <br /><br />

  <table class="admin-table">
    <thead>
      <tr>
        <th>COMIC TITLE</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

<!-- link to partial book-listing.ejs here -->

          <!-- comicBook is the key that allows access -->
          <% comicBook.comics.forEach(comic=> { %>

            <%- include('../partials/book-listing', {comicBook : comic}) %> 

            <% }) %>

<!-- 
        <tr>
          <td>
            Batman: The Dark Knight Returns
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr> -->

        

      </table>

</div>

<%- include('../partials/footer') -%> 

