<!-- ADMIN PAGE -->

<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

<div class=content-box>

  <h1>ADMIN PAGE</h1>

  <a href="/admin-console/create-book">
      <button class="yellowbutton" name="add-new-comic" value="ADD NEW COMIC">
        ADD NEW COMIC
      </button>
  </a>

  <br /><br />

  <table class="admin-table">
    <thead>
      <tr>
        <th>COMIC TITLE</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

<!-- BOOK-LISTING.EJS-->

          <% comicBooks.forEach(comic=> { %>

            <%- include('../partials/book-listing', {comicBook : comic}) %> 

          <% }) %>

<!-- 
        <tr>
          <td>
            Batman: The Dark Knight Returns
          </td>
          <td>
            <input type="button" name="edit" value="EDIT">
          </td>
          <td>
            <input type="button" name="delete" value="DELETE">
          </td>
        </tr> -->

        

      </table>

</div>

<%- include('../partials/footer') -%> 

