<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

<div class="content-box">

  <h1>LOGIN</h1>

  <div class="form-box-login">
    <form>

        <div class="form-row-login">
          <label for="email">Email address:</label>
          <input type="email" name="email" value="Email" required>
        </div>

        <div class="form-row-login">
          <label for="password">Password:</label>
          <input type="password" name="password" value="Password" required min="10">
        </div>
  </div>

      <input type="submit">

    </form>

</div>

<%- include('../partials/footer') -%> 