<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

<div class="content-box">

  <h1>LOGIN</h1>

  <div class="form-box-login">
    <form action="/login" method="POST">

        <div class="form-row-login">
          <label for="email">Username:</label>
          <input type="text" name="username" value="" required>
        </div>

        <div class="form-row-login">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" required min="9">
        </div>
  </div>

      <input type="submit">

    </form>

</div>

<%- include('../partials/footer') -%> 