<%- include('../partials/head') -%> 

<%- include('../partials/nav') -%> 

<div class="content-box">

  <h1>LOGIN</h1>

  <div class="form-box">
    <form>
      <div class="form-fields">
        <div class="form-row-login">
          <label for="email">Email address:</label>
          <input type="email" name="email" value="Email">
        </div>

        <div class="form-row-login">
          <label for="password">Password:</label>
          <input type="password" name="password" value="Password">
        </div>
      </div>

</div>
      <input type="submit">

    </form>

  
</div>

<%- include('../partials/footer') -%> 