body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(198, 238, 232), rgb(22, 125, 133));
    font-family: 'Open Sans', sans-serif;
}

:root {
    --tealblue: #063C5E; 
    --yellow: #fccf14;
    --white: white;
    --lightblue: rgb(205, 218, 218);
    --black: black;
    --blue: blue;
    --brightteal: teal;
}

/* Header & Footer Styling */
.header, .footer {
    background-color: var(--tealblue);
    color: var(--white);
    font-family: 'Fredericka the Great', cursive;

}
/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-menu {
    width: 33vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  margin-right: 3vw;
}

#codesquad-comics-logo {
    width: 20vw;
    padding: 5%; 

}

.headlink {
    color:var(--white);
    list-style-type: none;
    text-decoration: none;
    padding: 1% 15% 2% 5%;
}

.header a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.header a:active {
    color: var(--blue);
    background-color: var(--yellow);
}

/* Footer Styling */
.footer {
    border-top: 5px var(--yellow) solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footlink, .footer p {
    color: var(--white);
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
}

.footer a:hover, h3 {
    color: var(--yellow);
    font-weight: bold;
}

.footer a:active {
    color: var(--blue);
    background-color: var(--yellow);
}

#codesquad-logo {
        width: 150px;
    }

.socials {
    display: flex;
    justify-content: space-between;
}

/* Misc Page Stylings */

hr {
    background-color:var(--yellow);
    border: 0;
    height: 5px;
    margin: 0px
}

a {
        text-decoration: none;
}

/* Big Yellow Button Stylings (Admin + Create + Index Pages) */

input[name="add-new-comic"], input[type="submit"], .yellowbutton {
    background-color: var(--yellow);
    margin: 0 auto;
    display: block;

}   /*select by name/class instead?*/


/* INDEX PAGE BUTTON */

.button-div {
    display: flex;
}

input[name="display-more"] {
    background-color: var(--yellow);
    margin: auto;
    /* margin-left: 40px; */
    /* display: block; */
}


/* Content-Box (About + Admin + Create + Index) Page Stylings */


.content-box {
    background-color: var(--white);
    border: var(--black) 5px solid;
    margin: 6% auto;
    width: 75%;
    padding-bottom: 3%;

    /* padding-left: 1%; */
}

.content-box h1, h2 {
    text-align: center;
    color: var(--tealblue);
    margin-top: 6%;
    font-family: 'Fredericka the Great', cursive;
}

.content-box p {
    padding: 0% 5%;
}

/* About Page Stylings */

.collection-details {
    display: flex;
    justify-content: center;
}

.collection-details ul {
    padding: 0;
}

/* Index Page Stylings */
.comic-cover {
    width: 100%;
    /* width: 200px; */
}

.figure-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* Whyyyy are some fig captions impacted but not others???? */

figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    /* width: 8vw; */
    /* /* justify-content: center; */
    /* align-items: center; */ 
}

figcaption {
    text-align: center
}

figure a, figure a:visited {
    list-style-type: none;
    text-decoration: none;
    color: var(--tealblue);
}

figure a:hover {
    color: var(--brightteal);
    font-weight: bold;
}

figure a:active {
    color: var(--blue);
    background-color: var(--yellow);
    font-weight: bold;
}





/* Create + Log In + Update Page Stylings */

/* .form-box { */
 /* ADD BACK IN LATER!!!! */
    /* width: 24em;    
    display: flex;
    justify-content: center; */


    /* margin: 3% 35% 3% 10%;
    text-align: right; */

    /* margin-left: 25%; */

    /* align-items: stretch; */
/* } */

/* COME BACK AND ADD BACK IN LATER? */
/* 
.form-box form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
        /* width: 20em; */
/* } */ 

/* .form-box input { */
    /* display: inline-block; */
    /* display: block; */
    /* display: flex;
    align-self: flex-end; */
/* } */

/* DO I NEED THIS? MAYBE BRING BACK??*/
/* .form-row-login label{
    display: inline;
} */




/* CREATE PAGE */

.form-box-create {
    width: 40%;
    align-self: center;
    padding-right: 10%;
}

.form-row {
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-end;
}

.form-box-create input, .form-box-create select, .form-box-create input[type=number] {
    min-width: 60%;
    box-sizing: border-box;
    margin-left: .5em;
}




/* LOGIN PAGE */


.form-box-login {
    width: 40%;
    align-self: center;
    padding-right: 10%;
}

.form-row-login {
    margin: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: flex-end;
}

.form-box-login input, .form-box-login select, .form-box-login textarea {
    min-width: 20em;
    box-sizing: border-box;
    margin-left: .5em;
}




/* Update Page */

.form-box-update {
    width: 30em;
    align-self: center;
    padding-right: 10%;
}

.form-row-update {
    margin: 1em;
    display: flex;
    justify-content: flex-end;
}

.form-box-update input, .form-box-update select, .form-box-update textarea {
    min-width: 62%;
    box-sizing: border-box;
    margin-left: .5em;
}






/* Admin Page Stylings */


input[name="edit"] {
    background-color: var(--tealblue);
    color: var(--white);
    width: 6em;
    /* padding-left: 0px; */
    /* margin: 0 auto;
    display: block;
    font-size: .75em;
    width: 60px; */
 } 

input[name="delete"] {
    background-color: var(--yellow);
    color: var(--black);
    width: 6em;
    /* padding-left: 0px; */
    /* margin: 1.5% auto;
    display: block;
    font-size: .75em;   */
}

.admin-table th {
    background-color: var(--lightblue);
    padding: 6px 8px;
    border: var(--black) solid 1px; 
}

.admin-table td {
    padding: 3px 10px;
    border: var(--black) solid 1px; 
}

.admin-table tr:nth-child(even){
    background-color: var(--lightblue);
}

.admin-table {
    margin: auto;
    margin-bottom: 3%;
    font-size: .85em;
    width: 80%;
    border-collapse: collapse;
}


/* Index Page Stylings */
.comic-cover {
    width: 200px
}

/* Comic Card Page Stylings */


.parent {
    /* background-color: rgb(66, 63, 63); */
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    /* margin: auto; */
}

.child1 {
    background-color: var(--tealblue);
    border-color: var(--yellow); 
    border-radius: 50px 50px 0px 0px;
    border-style: solid;
    border-width: 5px 5px 0px 5px; 
    /* border-bottom: 5px red solid; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* height: auto; */
}

.child1 h2 {
    text-align: center;
    color: var(--yellow);
    margin-top: 0px;
    padding-top: 20px;
}

.child1 img {
    width: 60%;
    border-color: var(--white);
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 5px;
    margin-left: 20%;
    margin-bottom: 5%;
}

.child2 {
    background-color: var(--white);
    border-color: var(--yellow);
    border-radius: 0px 0px 50px 50px;
    border-style: solid;
    border-width: 5px;
    margin-top: 0px;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cardinfo {
    color: var(--tealblue);
    text-decoration: underline;
    font-weight: bold;
    font-style: normal; 

}
.child2 h3 {
    margin-left: 10%;
    margin-right:10%;
    margin-top: 0px;
    /* padding: 0%; */
    padding-right: 7%;
    color: var(--black);
    font-weight:normal;
}

.cardtitle {
    font-style: italic;
}



/* mobile & tablet */
@media screen and (min-width: 320px) and (max-width: 768px) {

    /* header mobile & table */

    .header {
        /* height: 15vh; */
        display: block;
    }

    #hamburger {
        
        color:var(--white);
        position: absolute;
        right: 0;
        top: 5%;
        margin-right: 5vw;
        font-size: 1.5em;
        /* padding: 0.5rem 1rem; */
    }

    .link-menu {
        display: none;
    }

    .link-menu.open {
        background-color: var(--tealblue);
        display: block;
        position: absolute;
        margin-left: 65vw;
    }

    .headlink {
        display: block;
        text-align: center;
        padding: 7% 7% 7% 7%; 
        border-top: 1px solid white;
    }

    #codesquad-comics-logo {
        width: 15em;
    }



    /* footer mobile & tablet */

    .footer {
        display: block;
    }

    .follow-us {
        display: inline-block;
    }

    #codesquad-logo {
        width: 15em;
    }

    .socials i {
        font-size: 2rem;
    }

    .parent {
        width: 90vw;
        margin: auto;
        margin-top: 5vh;
    }


    .visit-us, .links, .follow-us {
        margin-bottom: 3em;
    }




    /* comic card mobile styling */
    .child1 h2 {
        margin:1vh;
    }

    .child1 img {
        margin-top: 1vh;
    }

    /* create page + login + ????? mobile & tablet styling */

    .content-box {
        width: 90%;
    }

    .form-box {
        display: flex;
        /* flex-wrap: wrap; */
    }

    .form-fields> div {
        display: flex;
        /* flex-wrap: wrap; */
    }

    .form-fields {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: mediumvioletred;
        /* max-width: 350px; */
    }

    .form-row-login {
        background-color: mediumslateblue;
        width: 20em;
        justify-content: flex-end;
        /* display: flex;
        flex-wrap: wrap; */
    }

    .form-row-login label, .form-row-login input{
        background-color: aquamarine;
        /* display: flex;
        flex-wrap: wrap; */
    }

    /* why is this not making a new line? */

    #create-form-box label {
        background-color: tomato;
        display: block;
    }


    #create-form-box input, #create-form-box select {
        background-color: lavender;
        display: block;
        /* width: 100%; */
    }




    /* .content-box {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .form-box {
        align-self: center;
        width: 80%;
    } */




}





/* Laptop */
@media screen and (min-width: 769px) {
   
    /* .header, .footer {
        background-color: aqua;
    } */

    #hamburger {
        display: none;
    }

    /* create page + ????? laptop styling */
    .content-box {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        align-self: center;
    }


}

/* Larger Monitor */
@media screen and (min-width: 1024px) {

    .parent {
        display: flex;
        width: 90vw;
        height: auto;
        margin-left: 5%;
        margin-bottom: 3%;
        border-color: var(--yellow); 
        border-radius: 50px 50px 50px 50px;
        border-style: solid;
        border-width: 5px 5px 5px 5px; 
        box-sizing: border-box;
    }

    .child1, .child2 {
        border: none;
        /* box-sizing:border-box; */
        /* height: 100%; */
    }

    .child1 {
        width: 40%;
        border-radius: 45px 0px 0px 45px;
        border-width: 5px 5px 5px 5px;
        /* display: flex;
        flex-direction: column; */
    }

    .child2 {
        width: 60%;
        border-radius: 0px 50px 50px 0px;
        margin-bottom: 0px ;
        /* height: 100%; */
    }

    .child1 img {
        margin-top: 1.5vh;
        width: 80%;
        margin-left: 10%;
    }

    .child1 h2 {
        margin-top: 2vh;
    }

    /* create page + ????? large moitor styling */
    .content-box {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        align-self: center;
    }

}





 

