body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(198, 238, 232), rgb(22, 125, 133));
    font-family: 'Open Sans', sans-serif;
}

:root {
    --tealblue: #063C5E; 
    --yellow: #fccf14;
    --white: white;
    --lightblue: rgb(205, 218, 218);
    --black: black;
    --blue: blue;
    --brightteal: teal;
}

/* Header & Footer Styling */
.header, .footer {
    background-color: var(--tealblue);
    color: var(--white);
    font-family: 'Fredericka the Great', cursive;

}
/* Header Styling */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.link-menu {
    width: 33vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#codesquad-comics-logo {
    width: 20vw;
    padding: 5%; 

}

.headlink {
    color:var(--white);
    list-style-type: none;
    text-decoration: none;
    padding: 1% 15% 2% 5%;
}

.header a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.header a:active {
    color: var(--blue);
    background-color: var(--yellow);
}

/* Footer Styling */

.footer {
    border-top: 5px var(--yellow) solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footlink, .footer p {
    color: var(--white);
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;

    /* Why does vw make fonts the same size but not em?????*/

}

.footer a:hover, h3 {
    color: var(--yellow);
    font-weight: bold;
}

.footer a:active {
    color: var(--blue);
    background-color: var(--yellow);
}

#codesquad-logo {
        width: 150px;
    }

.socials {
    display: flex;
    justify-content: space-between;
}

/* Misc Page Stylings */

hr {
    background-color:var(--yellow);
    border: 0;
    height: 5px;
    margin: 0px
}

/* Big Yellow Button Stylings (Admin + Create + Index Pages) */

input[name="add-new-comic"], input[type="submit"] {
    background-color: var(--yellow);
    margin: 0 auto;
    display: block;
   
}   /*select by name/class instead?*/


/* INDEX PAGE BUTTON */

.button-div {
    display: flex;
}

input[name="display-more"] {
    background-color: var(--yellow);
    margin: auto;
    /* margin-left: 40px; */
    /* display: block; */
}


/* Content-Box (About + Admin + Create + Index) Page Stylings */


.content-box {
    background-color: var(--white);
    border: var(--black) 5px solid;
    margin: 6% auto;
    width: 75%;
    padding-bottom: 3%;
    /* padding-left: 1%; */
}

.content-box h1, h2 {
    text-align: center;
    color: var(--tealblue);
    margin-top: 6%;
}

.content-box p {
    padding: 0% 5%;
}

/* About Page Stylings */

.collection-details {
    display: flex;
    justify-content: center;
}



/* Index Page Stylings */
.comic-cover {
    width: 100%;
    /* width: 200px; */
}

.figure-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* Whyyyy are some fig captions impacted but not others???? */

figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    /* width: 8vw; */
    /* /* justify-content: center; */
    /* align-items: center; */ 
}

figcaption {
    text-align: center
}

figure a, figure a:visited {
    list-style-type: none;
    text-decoration: none;
    color: var(--tealblue);
}

figure a:hover {
    color: var(--brightteal);
    font-weight: bold;
}

figure a:active {
    color: var(--blue);
    background-color: var(--yellow);
    font-weight: bold;
}


/* Create Page Stylings */

/* form { */
    /* background-color: lavender; */
    /* width: 100%; */
/* } */

.form-box {
    /* background-color: rgb(108, 182, 224); */
    margin: 3% 35% 3% 10%;
    text-align: right;
}

.form-box input{
    width: 250px;
}

#publisher {
    width: 260px;
}

/* Re-do? - See update page*/
.form-box input[type="textarea"]{
    height: 150px;
    /* text-align:; */
}


/* Admin Page Stylings */


input[name="edit"] {
    background-color: var(--tealblue);
    color: var(--white);
    width: 6em;
    /* padding-left: 0px; */
    /* margin: 0 auto;
    display: block;
    font-size: .75em;
    width: 60px; */
 } 

input[name="delete"] {
    background-color: var(--yellow);
    color: var(--black);
    width: 6em;
    /* padding-left: 0px; */
    /* margin: 1.5% auto;
    display: block;
    font-size: .75em;   */
}

.admin-table th {
    background-color: var(--lightblue);
    padding: 6px 8px;
    border: var(--black) solid 1px; 
}

.admin-table td {
    padding: 3px 10px;
    border: var(--black) solid 1px; 
}

.admin-table tr:nth-child(even){
    background-color: var(--lightblue);
}

.admin-table {
    margin: auto;
    margin-bottom: 3%;
    font-size: .85em;
    width: 80%;
    border-collapse: collapse;
}


/* Index Page Stylings */
.comic-cover {
    width: 200px
}

/* Comic Card Page Stylings */


.parent {
    /* background-color: rgb(66, 63, 63); */
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
    /* margin: auto; */
}

.child1 {
    background-color: var(--tealblue);
    border-color: var(--yellow); 
    border-radius: 50px 50px 0px 0px;
    border-style: solid;
    border-width: 5px 5px 0px 5px; 
    /* border-bottom: 5px red solid; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.child1 h2 {
    text-align: center;
    color: var(--yellow);
    margin-top: 0px;
    padding-top: 20px;
}

.child1 img {
    width: 60%;
    border-color: var(--white);
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 5px;
    margin-left: 20%;
    margin-bottom: 5%;
}

.child2 {
    background-color: var(--white);
    border-color: var(--yellow);
    border-radius: 0px 0px 50px 50px;
    border-style: solid;
    border-width: 5px;
    margin-top: 0px;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cardinfo {
    color: var(--tealblue);
    text-decoration: underline;
    font-weight: bold;
    font-style: normal; 

}
.child2 h3 {
    margin-left: 10%;
    margin-right:10%;
    margin-top: 0px;
    /* padding: 0%; */
    padding-right: 7%;
    color: var(--black);
    font-weight:normal;
}

.cardtitle {
    font-style: italic;
}

